# Training Service Environment Configuration
# Copy this file to .env and fill in your values

# Redis configuration
REDIS_HOST=raptor-redis-standalone
REDIS_PORT=6379
REDIS_PASSWORD=<your_redis_password>

# MLflow configuration
MLFLOW_TRACKING_URI=http://mlflow:5555

# GPU
VRAM_OVERHEAD_GB=1.0
CUDA_VISIBLE_DEVICES=0,1

# FastAPI server port
PORT_FASTAPI=8009

# NFS setting
NFS_SERVER=<your_nfs_server_ip>
PORT_NFS=2049
NFS_AIML_TMP_PATH=/aiml/tmp
NFS_AIML_DATA_PATH=/aiml/data

TORCH_FORCE_NO_WEIGHTS_ONLY_LOAD=1
