NFS_SERVER=<your_nfs_server_ip>
NFS_EXPORT=/nfs-share
NFS_BASE_PATH=/path/to/your/storage
BASE_DIR=seaweedfs
SUB_DIRS="admin s3 backup filer vol1 vol2 vol3 vol4 master1 master2 master3"
BASE_DIR_2=aiml
SUB_DIRS_2="tmp data"
BASE_DIR_3=media
SUB_DIRS_3="processing"
BASE_DIR_4=memvid
SUB_DIRS_4="storage"
