# ----------------------------
# Python bytecode
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Virtual environment
# ----------------------------
venv/
.venv/

# ----------------------------
# Git
# ----------------------------
.git/
.gitignore

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Logs and temporary files
# ----------------------------
*.log
*.tmp
*.swp
*.swo

# ----------------------------
# Docker files to exclude
# ----------------------------
Dockerfile
docker-compose.yml

# ----------------------------
# MacOS
# ----------------------------
.DS_Store
